.page {
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-top: 50px;*/
}

.left-panel {
	border: 1px solid black;
	min-height: 100vh;
	min-width: auto;
}

.right-panel {
	border: 1px solid black;
	min-height: 100vh;
	min-width: max-content;
}