.input {
	padding: 5px;
	font-size: 14px;
	border-radius: 3px;
	border: none;
	background: var(--white-color);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 3px;
	margin-right: 3px;
	width: 100%;
}

.radio-set {
	font-size: 14px;
}

.button {
	background: var(--white-hover-color);
}

.button:hover {
	background: var(--white-color);
}