.stats {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	border-bottom: 1px solid var(--white-color);
}

.btn-dark {
	background: var(--white-color);
}

.btn-dark:hover {
	background: var(--text-secondary-color);
	color: var(--white-hover-color);
}
