.layout {
	display: flex;
	flex-direction: column;
	/*min-height: 100vh;*/
	/*max-width: fit-content;*/
	/*align-self: center;*/
	min-width: 100px;
	align-items: flex-start;
}

.sidebar {
	/*padding: 5px;*/
	display: flex;
	flex-direction: row;
	background: var(--separator-color);
	width: -webkit-fill-available;
	height: 40px;
	min-width: 1222px;
	max-width: 1622px;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	padding-right: 10px;
}

/*.avatar {
	width: 70px;
	margin-bottom: 20px;
	filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}*/

.logout {
}

.-btn {
	/*margin-right: auto;*/
}

.outlet {
	min-width: 400px;
	max-width: 800px;
	width: 800px;
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	max-height: 677px;
	border: 1px solid red;
}

.svg {
	filter: var(--white-hover-color-filter);
}

.close-modal {

}

.close-modal {
	display: flex;
	border-radius: 50%;
	border: none;
	background: none;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	margin: 0;
    position: absolute;
    /*opacity: 1;*/
    /*z-index: 10;*/
    cursor: pointer;
    top: 1%;
    left: 90%;

}

.close-modal:hover {
	background: var(--primary-color);
}

.close-svg {
	filter: var(--text-color-filter);
	width: 16px;
}
/*
.menu {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.link {
	display: flex;
	align-items: center;
	gap: 14px;
	text-decoration: none;
	color: var(--text-color);
}

.link:hover {
	color: var(--primary-color);
}

.active {
	color: var(--primary-color);
}

.user {
	margin-bottom: 46px;
}

.name {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: var(--text-color);
}

.email {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--text-secondary-color);
}

.cart-count {
	background: var(--primary-color);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: var(--white-color);
}*/

.content {
	display: flex;
	flex-direction: row;
	width: 100%;
}