.channel-card {
	/*width: 400px;*/
	/*border: 1px solid black;*/
	/*min-height: 80vh;*/
	/*min-width: -webkit-fill-available;*/
	background: var(--white-hover-color);
	border-top-left-radius: 7px;
	width: 80%;
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.join {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 120%;
}

.join-btn {
	margin-left: auto;
	width: 60px;
	background: var(--white-color);
}

.join-btn:hover {
	color: var(--white-hover-color);
	background: var(--text-secondary-color);
}

.headling {
	font-weight: bold;
}

.preview-button {
	display: flex;
	background: var(--white-hover-color);
}

.preview-button:hover {
	background: var(--white-color);
}

.members {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	width: 100%;
}

label.radio-set {
	font-weight: bold;
}

.button {
	width: 50%;
}
/*.head {
	height: 50px;
	display: flex;
	flex-direction: row;
	margin: 7px;
	border: none;
	align-items: center;
}

hr {
	margin: 0;
	border: 1px solid var(--separator-color);
}

.chat-area {
	height: 100%;
	margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	height: 100%;
	overflow: scroll;
	justify-content: flex-start;

	transform: rotate(180deg);

}

.rotate {
	display: flex;
	flex-direction: column;
  	transform: rotate(180deg);
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	margin-bottom: auto;
}

.text-area {
	resize: none;
	font: inherit;
	color: var(--text-color);
	border: 1px solid #FFF;
	background-color: #FFF;
}

.see-members {
	border: none;
	background: var(--white-hover-color);
	display: flex;
	align-items: center;
	border-radius: 3px;
	padding: 3px;
	height: fit-content;
	margin-left: auto;
}

.see-members:hover {
	background: var(--white-color);
}

.svg {
	filter: var(--separator-color-filter);
}*/