.window{
	/*width: 400px;*/
	/*border: 1px solid black;*/
	/*min-height: 80vh;*/
	/*min-width: -webkit-fill-available;*/
	background: var(--white-hover-color);
	border-top-left-radius: 7px;
	width: 50%;
	display: flex;
	flex-direction: column;
	max-height: -webkit-fill-available;
}

.head {
	height: 50px;
	display: flex;
	flex-direction: row;
	margin: 9px 9px 0px 9px;
	border: none;
}

hr {
	margin: 0;
	border: 1px solid var(--separator-color);
}

.chat-area {
	height: -webkit-fill-available;
	margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	height: 100%;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	margin-bottom: auto;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.text-area {
	margin-top: auto;
	width: -webkit-fill-available;
	border-radius: 7px;
	resize: vertical;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	font: inherit;
	color: var(--text-color);
	border: 1px solid #FFF;
	background-color: #FFF;
	box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
	padding-left: 20px;
	height: fit-content;
	word-break: break-all;
}