.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 120%;
}

.card-no-list {
	margin-top: 10px;
}

.member-btns {
	
}

.normal {
	display: flex;
}

.btn-smaller {
	padding: 0px 13px;
	/* height: fit-content; */
}

.member-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
	align-items: center;
}

.info {
	display: flex;
	flex-direction: row;
	align-items: stretch
}

.info-no-list {
	flex-direction: column;
}

.header {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.header-member {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.message {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 34px;

}

.avatar {
	object-position: top center;
	object-fit: cover;
	border-radius:50%;
	cursor: pointer;
	width: 50px;
	height: 50px;
	/*flex-shrink: 2;*/
}

.avatar-member {
	object-position: top center;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.member-btns {
	display: flex;
}

.header-message {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
