.input {
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	color: var(--text-color);
	border: 1px solid #FFF;
	background-color: #FFF;
	box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
	border-radius: 10px;
	padding: 20px;
	height: fit-content;
	word-break: break-all;
}

.input-title {
	font-size: 32px;
}

.invalid {
	border: 1px solid red;
	background: rgba(255, 0, 0, 0.262);
}