
/*.settings {
	min-width: 400px;
	max-width: 800px;
	width: 800px;
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	max-height: 677px;
}*/

.avatar {
	object-position: top center;
	object-fit: cover;
	border-radius:50%;
	width: 70px;
	height: 70px;
	/*flex-shrink: 2;*/

}

.profile-card {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: center;
	gap: 10px;
	width: 50%;
	border: 1px solid red;
	height: 100%;
	font-size: 14px;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border: none;
	gap: 10px;
	padding: 0;
}

legend {
	display: flex;
}

.radio {
	/*display: flex;*/
}

.radio-set {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	font-weight: normal;
}

.other {
	display: flex;
	width: 50%;
	height: 100%;
	border: 1px solid red;
}

.done {
	filter: var(--primary-color);
}

.label-head {
	font-weight: bold;
}

.done-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: var(--white-color);
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.done-button:hover {
	background: var(--white-hover-color);
}
/*input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: var(--separator-color);
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid var(--separator-color);
	border-radius: 50%;

}*/