/*.body {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/

/*}*/

.pong {
  min-width: 835px;
  min-height: 710px;
  border: 1px solid black;
}

.pong-div {
  display: flex;
  align-items: flex-start;
}

.chat-div {
  border: 1px solid black;
  min-width: 600px;
  min-height: 910px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/*.cnv {
  height: 710px;
  width: 600px;

}*/