.member-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
	/*border: 1px solid red;*/
	height: 100%;
	font-size: 14px;
	margin-left: 10px;
	overflow: scroll;
}

.empty {
	height: 30px;
}

.avatar {
	object-position: top center;
	object-fit: cover;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	/*flex-shrink: 2;*/
}

.stats {
	display: flex;
	flex-direction: column;
	width: 80%;
	/*gap: 10px;*/
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	border-bottom: 1px solid var(--white-color);
}

.table {
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-between;
}

.col {
	display: flex;
	flex-direction: column;
}

.btn-dark:hover {
	background: var(--text-secondary-color);
	color: var(--white-hover-color);
}

.inActive {
	background: var(--white-color);
	color: var(--white-hover-color);
	cursor: auto;
}

.inActive:hover {
	background: var(--white-color);
	cursor: auto;
}

.mail-link {
	text-decoration: underline;
	color: var(--text-color);
}

h3, p {
	margin-top: 5px;
	margin-bottom: 0px;
}
/*.head {
	height: 50px;
	display: flex;
	flex-direction: row;
	margin: 7px;
	border: none;
	align-items: center;
}

hr {
	margin: 0;
	border: 1px solid var(--separator-color);
}

.chat-area {
	height: 100%;
	margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
	height: 100%;
	overflow: scroll;
	justify-content: flex-start;

	transform: rotate(180deg);

}

.rotate {
	display: flex;
	flex-direction: column;
  	transform: rotate(180deg);
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	margin-bottom: auto;
}

.text-area {
	resize: none;
	font: inherit;
	color: var(--text-color);
	border: 1px solid #FFF;
	background-color: #FFF;
}

.see-members {
	border: none;
	background: var(--white-hover-color);
	display: flex;
	align-items: center;
	border-radius: 3px;
	padding: 3px;
	height: fit-content;
	margin-left: auto;
}

.see-members:hover {
	background: var(--white-color);
}

.svg {
	filter: var(--separator-color-filter);
}*/